:root {
  --clr-neutral-000: #fff;
  --clr-neutral-100: #eeeeee;
  --clr-neutral-200: #b9b9b9;

  /* FONT FAMILIES */
  --ff-sans-serif: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  /* FONT SIZES */
  --fs-xlarge: 2rem;
  --fs-large: 1.5rem;
  --fs-normal: 1rem;

  --border-width: 6px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  color-scheme: dark;
}

body {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* height: 100%; */
  font-family: var(--ff-sans-serif);
}

img {
  max-width: 100%;
  /* display: flex; */
}

#bg-img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
  /* height: auto; */
}

/* HEADER --------------------------------------------------------------------------- */

header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1rem;
  align-items: center;
  gap: 1rem;
}

.logo {
  font-size: var(--fs-large);
  font-weight: bold;
}

form {
  grid-column: 2;
  place-self: center;
  display: flex;
  width: min(100%, 300px);
  position: relative;
  color: var(--clr-neutral-200);
  & svg {
    position: absolute;
    top: 50%;
    left: 0.5rem;
    transform: translateY(-50%);
    width: 1.25rem;
    height: auto;
    color: inherit;
  }
  & input {
    border-radius: 100vw;
    background: none;
    border: 1px solid var(--clr-neutral-200);
    width: 100%;
    padding: 0.5rem 1rem;
    padding-left: 2rem;
    outline: none;
    font-size: var(--fs-normal);
    &::placeholder {
      color: var(--clr-neutral-200);
    }
  }
  &:hover,
  &:focus-within {
    color: var(--clr-neutral-000);
    & input {
      border-color: var(--clr-neutral-000);
    }
  }
}

/* MAIN --------------------------------------------------------------------------- */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

/* CLOCK --------------------------------------------------------------------------- */

.clock {
  outline: var(--border-width) solid white;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: relative;

  &::before {
    width: 100%;
    height: 100%;
    position: absolute;
    content: "";
    border-radius: inherit;
    outline: var(--border-width) solid var(--clr-neutral-000);
  }
}

.clock__hours {
  --gap: 2rem;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  font-size: var(--fs-normal);
  font-weight: bold;
  & p {
    place-self: center;
  }
  & p:nth-child(1) {
    grid-column: 3;
  }
  & p:nth-child(2) {
    margin-top: var(--gap);
  }
  & p:nth-child(3) {
    grid-column: 5;
    grid-row: 2;
    margin-right: var(--gap);
  }
  & p:nth-child(4) {
    grid-column: 5;
    grid-row: 3;
  }
  & p:nth-child(5) {
    grid-column: 5;
    grid-row: 4;
    margin-right: var(--gap);
  }
  & p:nth-child(6) {
    grid-column: 4;
    grid-row: 5;
    margin-bottom: var(--gap);
  }
  & p:nth-child(7) {
    grid-column: 3;
    grid-row: 5;
  }
  & p:nth-child(8) {
    grid-column: 2;
    grid-row: 5;
    margin-bottom: var(--gap);
  }
  & p:nth-child(9) {
    grid-column: 1;
    grid-row: 4;
    margin-left: var(--gap);
  }
  & p:nth-child(10) {
    grid-column: 1;
    grid-row: 3;
  }
  & p:nth-child(11) {
    grid-column: 1;
    grid-row: 2;
    margin-left: var(--gap);
  }
  & p:nth-child(12) {
    grid-column: 2;
    grid-row: 1;
    margin-top: var(--gap);
  }
}

.clock__arm {
  --arm-gap: 2rem;
  --arm-rotation: 0deg;
  height: calc(50% - var(--arm-gap));
  border-radius: 100vw;
  margin-top: var(--arm-gap);
  width: var(--border-width);
  background: var(--clr-neutral-000);
  position: absolute;
  left: calc(50% - var(--border-width) / 2);
  transform-origin: bottom;
  transform: rotate(var(--arm-rotation));
}

.clock__arm--minute {
}

.clock__arm--hour {
  --arm-gap: 4rem;
}

.clock__arm--sunrise,
.clock__arm--sunset {
  --arm-gap: 0rem;
  transform: rotate(var(--rotate));
  background: none;
  & div {
    --icon-width: 3rem;
    border-radius: 50%;
    width: var(--icon-width);
    height: var(--icon-width);
    margin-left: calc((var(--icon-width) / -2) + var(--border-width) / 2);
    margin-top: calc(var(--icon-width) / -2 - var(--border-width) / 2);

    transform: rotate(calc(var(--rotate) * -1));
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.clock__arm--sunrise {
  --rotate: 30deg;
  & div {
    background-color: rgb(231, 158, 13);
  }
}

.clock__arm--sunset {
  --rotate: 80deg;
  & div {
    background-color: rgb(32, 69, 204);
  }
}

/* FOOTER --------------------------------------------------------------------------- */

footer {
  /* position: fixed; */
  /* bottom: 0; */
  /* left: 50%; */
  /* transform: translateX(-50%); */
  display: flex;
  justify-content: center;
  padding: 1rem;
  color: var(--clr-neutral-100);
  a {
    color: inherit;
    font-weight: bold;
    &:hover {
      color: var(--clr-neutral-000);
    }
  }
}

/* MEDIA QUERIES --------------------------------------------------------------------------- */

@media (max-width: 550px) {
  header {
    grid-template-columns: 3rem 1fr 3rem;
  }
  .logo {
    display: none;
  }
  form {
    width: 100%;
  }
}
