:root {
  --clr-neutral-000: #fff;
  --clr-neutral-100: #eeeeee;
  --clr-neutral-200: #b9b9b9;
  --clr-neutral-800: #262626;

  /* FONT FAMILIES */
  --ff-sans-serif: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  /* FONT SIZES */
  --fs-xlarge: 2rem;
  --fs-large: 1.5rem;
  --fs-normal: 1rem;
  --fs-small: 0.875rem;

  --border-width: 3px;
  --border-color: rgb(255, 255, 255, 0.5);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  color-scheme: dark;
}

body {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* height: 100%; */
  font-family: var(--ff-sans-serif);
}

img {
  max-width: 100%;
  /* display: flex; */
}

#bg-img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
  /* height: auto; */
}

/* HEADER --------------------------------------------------------------------------- */

header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1rem;
  align-items: center;
  gap: 1rem;
}

.logo {
  font-size: var(--fs-large);
  font-weight: bold;
}

form {
  grid-column: 2;
  place-self: center;
  display: flex;
  width: min(100%, 300px);
  position: relative;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.025);
  /* color: var(--clr-neutral-200); */
  & svg {
    position: absolute;
    top: 50%;
    left: 0.5rem;
    transform: translateY(-50%);
    width: 1.25rem;
    height: auto;
    color: inherit;
  }
  & input {
    border-radius: 100vw;
    background: none;
    border: 1px solid var(--border-color);
    width: 100%;
    padding: 0.5rem 1rem;
    padding-left: 2rem;
    outline: none;
    font-size: var(--fs-normal);
    &::placeholder {
      color: var(--clr-neutral-000);
    }
  }
  &:hover,
  &:focus-within {
    color: var(--clr-neutral-000);
    & input {
      border-color: var(--clr-neutral-000);
    }
  }
}

/* MAIN --------------------------------------------------------------------------- */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  backdrop-filter: blur(10px);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05);
  /* background-color: rgb(0, 0, 0, 0.05); */
  padding: 2rem;
  border-radius: 1rem;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid var(--border-color);
    border-radius: inherit;
    /* mix-blend-mode: multiply; */
    /* background-color: red; */
    /* background-color: rgba(0, 0, 0, 0.5); */
    /* backdrop-filter: blur(10px); */
    /* z-index: -1; */
  }
}

.main__location {
  text-align: center;
}

.main__temperature {
  text-align: center;
}

.main__description {
  text-align: center;
}

/* CLOCK --------------------------------------------------------------------------- */

.clock {
  --width: 250px;
  margin: var(--border-width);
  outline: var(--border-width) solid white;
  width: var(--width);
  height: var(--width);
  border-radius: 50%;
  position: relative;
}

.clock__hours {
  --gap: 2rem;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  font-size: var(--fs-normal);
  font-weight: bold;
  & p {
    place-self: center;
  }
  & p:nth-child(1) {
    grid-column: 3;
  }
  & p:nth-child(2) {
    margin-top: var(--gap);
  }
  & p:nth-child(3) {
    grid-column: 5;
    grid-row: 2;
    margin-right: var(--gap);
  }
  & p:nth-child(4) {
    grid-column: 5;
    grid-row: 3;
  }
  & p:nth-child(5) {
    grid-column: 5;
    grid-row: 4;
    margin-right: var(--gap);
  }
  & p:nth-child(6) {
    grid-column: 4;
    grid-row: 5;
    margin-bottom: var(--gap);
  }
  & p:nth-child(7) {
    grid-column: 3;
    grid-row: 5;
  }
  & p:nth-child(8) {
    grid-column: 2;
    grid-row: 5;
    margin-bottom: var(--gap);
  }
  & p:nth-child(9) {
    grid-column: 1;
    grid-row: 4;
    margin-left: var(--gap);
  }
  & p:nth-child(10) {
    grid-column: 1;
    grid-row: 3;
  }
  & p:nth-child(11) {
    grid-column: 1;
    grid-row: 2;
    margin-left: var(--gap);
  }
  & p:nth-child(12) {
    grid-column: 2;
    grid-row: 1;
    margin-top: var(--gap);
  }
}

.clock__arm {
  --arm-gap: 2rem;
  --arm-rotation: 0deg;
  height: calc(50% - var(--arm-gap));
  border-radius: 100vw;
  margin-top: var(--arm-gap);
  width: var(--border-width);
  background: var(--clr-neutral-000);
  position: absolute;
  left: calc(50% - var(--border-width) / 2);
  transform-origin: bottom;
  transform: rotate(var(--arm-rotation));
  transition: transform 0.5s ease-in-out;
}

.clock__arm--hour {
  --arm-gap: 4rem;
}

.clock__arm--sunrise,
.clock__arm--sunset {
  --arm-gap: 0rem;
  transform: rotate(var(--rotate));
  background: none;
  & div {
    --icon-width: calc(var(--width) * 0.2);
    border-radius: 50%;
    width: var(--icon-width);
    height: var(--icon-width);
    margin-left: calc((var(--icon-width) / -2) + var(--border-width) / 2);
    margin-top: calc(var(--icon-width) / -2 - var(--border-width) / 2);

    transform: rotate(calc(var(--rotate) * -1));
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.clock__arm--sunrise {
  & div {
    background-color: rgb(231, 158, 13);
  }
}

.clock__arm--sunset {
  & div {
    background-color: rgb(32, 69, 204);
  }
}

.clock__sunrise,
.clock__sunset {
  position: relative;
  span {
    opacity: 0;
    position: absolute;
    top: -2.25rem;
    background-color: var(--clr-neutral-800);
    padding: 0.33rem;
    border-radius: 0.5rem;
    font-size: var(--fs-small);
    transition: opacity 0.2s ease-in-out;
  }
  &:hover {
    span {
      opacity: 1;
    }
  }
}

/* FOOTER --------------------------------------------------------------------------- */

footer {
  display: flex;
  justify-content: center;
  padding: 1rem;
  color: var(--clr-neutral-000);
  text-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
  a {
    color: inherit;
    font-weight: bold;
    &:hover {
      color: var(--clr-neutral-000);
    }
  }
}

/* MEDIA QUERIES --------------------------------------------------------------------------- */

@media (max-width: 550px) {
  header {
    grid-template-columns: 3rem 1fr 3rem;
  }
  .logo {
    display: none;
  }
  form {
    width: 100%;
  }
}
